<h2 >BUSCA INFO DE TUS PARTIDAS <strong>{{busqueda.summonerName}}</strong></h2>
<form (ngSubmit)="buscar()">
  <input
   type="text"
   placeholder="nombre invocador..."
   name="summonerName"
   [(ngModel)]="busqueda.summonerName"
   >
   <button type="submit" class="btn btn-outline-warning">
      Buscar
   </button>

</form>
<br>
<!-- <h2>ENVIA LA KEY</h2>
<form (ngSubmit)="sendKey()">
  <input
   type="text"
   placeholder="api-key"
   name="keyValue"
    [(ngModel)]="key.keyValue"
   >
   <button type="submit" class="btn btn-outline-warning">Enviar</button>

</form>
 -->
