<h2>Resultado <strong id="resultado-api" *ngIf="serviceInit.kda ;else  partida">{{serviceInit.resultadoPartida}}</strong></h2>
    <table>
      <tr>
        <th></th>
        <th id="champion">
          {{serviceInit.kda.championName}}
        </th>
      </tr>
      <tr>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
      </tr>
      <tr>
        <td>
          {{serviceInit.kda.kills}}
        </td>

        <td>
          {{serviceInit.kda.deaths}}
        </td>
        <td>
          {{serviceInit.kda.assists}}
        </td>
      </tr>
    </table>

    <ng-template #partida>Partida</ng-template>

